body {
  font-family: Arial, sans-serif;
  background-color: #323131;
  color: goldenrod;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #021e3c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid gold;
}

.btn:hover {
  background-color: #0056b3;
}

.quote {
  font-style: italic;
}
.quote::before,
.quote::after {
  content: '"'; /* Закрывающая кавычка */
}
/* .star-btn {
  background-color: transparent;
  border: none;
  font-size: 3em;
  color: gold;
  cursor: pointer;
  padding: 10px;
  position: relative;
  top: 7px;
  left: 1px;
  display: none;
} */

/* .star-btn:hover {
  color: darkorange;
} */

/* .star {
  font-size: 2em;
  line-height: 1;
  margin-left: 5px;
  transform: scale(2);
} */

.star-icon {
  font-size: 30px;
  color: yellow;
  vertical-align: middle;
  cursor: pointer;
}
.favorites-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  position: relative;
  background-color: rgb(34, 33, 33);
  padding: 5px 5px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  /* height: 250px; */
  border: 1px solid gold;
}
.author {
  font-style: italic;
}
.favorite-card:hover {
  background-color: #353131;
  border: 1px solid yellowgreen;
}
.remove-star {
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: darkorange;
  cursor: pointer;
  margin-bottom: 0px;
}

.remove-star:hover {
  color: red;
}
